.carousel-item img{
    height:400px ;
}

.carousel-item h1{
    font-size: 80px;
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-item p{
    color: white;
    font-size: 20px;
}

.carousel-item button:hover {
      background-color: green;
}

.carousel-item button {
    background-color: yellow;
    width: 180px;
    height: 75px;
    border: none;
    border-radius: 10px;
}

.carousel-control-prev-icon {
    border: 2px solid white !important;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon:hover {
    background: yellow !important;
}

.carousel-control-next-icon {
    border: 2px solid white !important;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.carousel-control-next-icon:hover {
    background: yellow !important;
}
.container h1{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    padding-top: 170px;
}

.container img{
    padding-top: 100px;
    height: 550px;
}

.container p{
    font-size:15spx ;
}.container1{
    align-items: center;
    text-align: center;
    padding: 5px;
}
.container1 img{
    width:50px ;
    height:50px ;
}

.container1 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.angela img{
    display: flex;
    width: 50px;
    height: 50px;
}

.angela col{
    display: flex;
}

#an1{
    display: flex;
    border: 0.5px solid black;
    margin-left: 50px;
    margin-right: 50px;
    width: 150px;
    height: 240px; 
    margin-top: 35px;
    
}

#an2{
    display: flex;
    border: 0.5px solid black;
    width: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px
}

#an3{
    display: flex;
    border: 0.5px solid black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    width: 150px;
    height: 150px; 
}

#an4 img{
    height: 550px;
    width: 500px;
    margin-top: 35px;

}
.angel img{
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 30px;
}
.angel h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.angel{
    text-align: center;
    align-items: center;
}
.angel button:hover{
   
    background-color: goldenrod;
}

.angel button {
  background-color: yellow;
  width: 180px;
  height: 75px;
  border: none;
  border-radius: 10px;
  margin-bottom: 80px;
  margin-top: 40px;
}
.fish img{
    width: 250px;
    height: 100px;
    margin-left: 50px;
    margin-top: 40px;
}
.nelly img{
    width: 100px;
    height: 50px;
}
.nelly{
    background-color: green;
    width: 100%;
    height: 300px;
    border-top: 3px solid yellow;
    margin-top: 30px;
    padding-top: 50px;
    background-size: cover; 
    color: white;
    padding-left: 50px;
    
}
.nelly p{
    font-size: 19px;
    
}
#me{
    margin-top: 50px; 
    padding: 0px;
    margin: 0px
}